<!DOCTYPE html>
<html lang="en">

<head>
    <!-- To reduce duplication, we will leverage EJS partials. -->
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/header.ejs') %>

    <div class="container">
        <h1>Todo List</h1>
        <ul class="list-group">
            <!-- accept a local variable: todos -->
            <% for(todo of todos){%>
            <li
                class="list-group-item <%= todo['priority'] == 'high' ? 'list-group-item-danger' : '' %> d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold"><i class="<%=todo['icon']%>"></i> <%=todo['title']%></div>
                    <%=todo['description']%>
                </div>
                <% if (!todo['completed']) { %>
                <span class="badge <%=todo['status'] == 'missed' ? 'bg-danger' : 'bg-primary'%>
                    rounded-pill"><%= todo['daysRemaining']%></span>
                <% } %>


            </li>
            <% } %>
        </ul>
    </div>

    <%- include('../partials/footer.ejs') %>
</body>

</html>